body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: lightcoral;
}

.container {
    background-color: rgba(202, 223, 82, 0.596);
    padding: 5px;
    width: 40%;
    height: 50rem;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 25px;
}

#task-input {
    width: 70%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 2px    ;
}

::placeholder{
    font-size: 20px;
}

#task-output {
    font-size: 1.6rem;
}

#task-clear {
    font-size: 1.6rem;
}

#result {
    margin: 25px;
}

#remove {
    font-size: 15px;
    margin-left: 0 auto;
}